<div style="text-align: center">
  <h1>Angular Drum Machine</h1>
  <button ng-click="$ctrl.cycle(0)">Start</button>
  <button ng-if="$ctrl.loop" ng-click="$ctrl.toggleLoop()">Stop Looping</button>
  <button ng-if="!$ctrl.loop" ng-click="$ctrl.toggleLoop()">Start Looping</button>
  <label>BPM:
    <input type="number" ng-model="$ctrl.bpm" min="0" max="300" ng-change="$ctrl.changeMs()"/>
  </label>
  <div class="flex">
    <div class="otherFlex">
      <p>1 - beep</p>
      <p>2 - handclap</p>
      <p>3 - low tom</p>
      <p>4 - high tom</p>
      <p>5 - open hi-hat</p>
      <p>6 - closed hi-hat</p>
      <p>7 - snare</p>
      <p>8 - bass</p>
    </div>
    <table>
      <tr ng-repeat="row in $ctrl.grid">
        <td ng-repeat="cell in row track by cell.cell">
          <drum-machine-button value="cell.value" cell-number="cell.cell" focus="cell.focus" playOnce="$ctrl.playOnce()"></drum-machine-button>
          <!-- <button style="background-color: ivory; border: light-gray; border-radius: 10px; height: 50px; width: 50px; margin: 5px;">{{cell.cell}}</button> -->
        </td>
      </tr>
    </table>
  </div>
</div>
