/* app css stylesheet */
body {
  background-color: #f37021;
  font-family: "Montserrat", "sans-serif";
  font-size: 300;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

li {
  color: white;
}

p {
  color: white;
}

table {
  background-color: white;
  border-radius: 10px;
}

input {
  color: black;
}

h1 {
  font-family: "Montserrat", "sans-serif";
  font-size: 400;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.drumMachineButton {
  border: 2px solid rgb(160, 160, 160);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.green {
  background-color: rgb(0, 163, 73);
  opacity: 0.8;
}

.blue {
  background-color: rgb(41, 190, 198);
  opacity: 0.8;
}

.red {
  background-color: rgb(238, 45, 74);
  opacity: 0.8;
}

.white {
  background-color: rgba(243, 112, 33, 0.2);
}

.focus {
  border: 2px solid #f37021;
}

.flex {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.otherFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  margin-right: 1em;
}

.column {
  width: 30vw;
  height: 90vh;
}
